.spin {
  position: absolute;
  display: block;
  user-select: none;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background: rgba(45, 45, 45, 0.2);
}

.spin.hidden {
  display: none !important;
}

.spin .animation {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  transform: translate(-50%, -130px);
}

.spin .text {
  position: absolute;
  padding: 5px 12px;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 45px);
  color: rgba(255, 255, 255, 0.95);
  font-size: 14px;
  background: rgba(0, 0, 0, 0.95);
  border-radius: 25px;
}
